<div *ngIf="!invoice">
  <main
    class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8"
  >
    <div class="text-center">
      <p class="text-base font-semibold text-indigo-600">404</p>
      <h1
        class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl"
      >
        No invoices found
      </h1>
      <p class="mt-6 text-base leading-7 text-gray-600">
        You need to generate an invoice first
      </p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a
          routerLink="/"
          class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >Generate Invoice</a
        >
      </div>
    </div>
  </main>
</div>

<div *ngIf="invoice">
  <!-- Invoice -->
  <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto my-4 sm:my-10">
    <!-- Grid -->
    <div
      class="mb-5 pb-5 flex justify-end items-center border-b border-gray-200"
    >
      <!-- Col -->

      <div class="inline-flex gap-x-2">
        <button
          (click)="generatePDF()"
          class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm"
          href="#"
        >
          <svg
            class="w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path
              d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"
            />
            <path
              d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"
            />
          </svg>
          Download PDF
        </button>
      </div>
      <!-- Col -->
    </div>
    <!-- End Grid -->

   <div id="invoice">
       <div>
        <h2 class="text-4xl font-semibold text-gray-800 mb-6">Invoice</h2>
    </div>
    <div class="grid md:grid-cols-2 gap-3 mb-20">
      <div>
        <div class="grid space-y-3">
          <div class="grid sm:flex gap-x-3 text-sm">
            <p class="min-w-[150px] max-w-[200px] text-gray-500">
              {{ invoice.seller.sellerName }}
            </p>
          </div>

          <div class="grid sm:flex gap-x-3 text-sm">
            <p class="min-w-[150px] max-w-[200px] text-gray-500">
              {{ invoice.seller.sellerAddress }}
            </p>
          </div>

          <div class="grid sm:flex gap-x-3 text-sm">
            <p class="min-w-[150px] max-w-[200px] text-gray-500">
              {{ invoice.seller.sellerPhone }}
            </p>
          </div>

          <div class="grid sm:flex gap-x-3 text-sm">
            <p class="min-w-[150px] max-w-[200px] text-gray-500">
              {{ invoice.seller.sellerEmail }}
            </p>
          </div>
        </div>
      </div>
      <!-- Col -->
    </div>

    <!-- Grid -->
    <div class="grid md:grid-cols-2 gap-3">
      <div>
        <div class="grid space-y-3">
          <h6>Bill to:</h6>

          <div class="grid sm:flex gap-x-3 text-sm">
            <p class="min-w-[150px] max-w-[200px] text-gray-500">
              {{ invoice.buyer.buyerName }}
            </p>
          </div>

          <div class="grid sm:flex gap-x-3 text-sm">
            <p class="min-w-[150px] max-w-[200px] text-gray-500">
              {{ invoice.buyer.buyerAddress }}
            </p>
          </div>

          <div class="grid sm:flex gap-x-3 text-sm">
            <p class="min-w-[150px] max-w-[200px] text-gray-500">
              {{ invoice.buyer.buyerPhone }}
            </p>
          </div>

          <div class="grid sm:flex gap-x-3 text-sm">
            <p class="min-w-[150px] max-w-[200px] text-gray-500">
              {{ invoice.buyer.buyerEmail }}
            </p>
          </div>
        </div>
      </div>
      <!-- Col -->

      <div>
        <div class="grid space-y-3">
          <dl class="grid sm:flex gap-x-3 text-sm">
            <dt class="min-w-[150px] max-w-[200px] text-gray-800">
              Invoice number:
            </dt>
            <dd class="font-medium text-gray-500">
              {{ invoice.invoiceNumber }}
            </dd>
          </dl>

          <dl class="grid sm:flex gap-x-3 text-sm">
            <dt class="min-w-[150px] max-w-[200px] text-gray-800">
              Invoice Date:
            </dt>
            <dd class="font-medium text-gray-500">
              {{ invoice.invoiceDate }}
            </dd>
          </dl>

          <dl class="grid sm:flex gap-x-3 text-sm">
            <dt class="min-w-[150px] max-w-[200px] text-gray-800">
              Payment Due
            </dt>
            <dd class="font-medium text-gray-500">
              {{ invoice.invoiceDueDate }}
            </dd>
          </dl>
        </div>
      </div>
      <!-- Col -->
    </div>
    <!-- End Grid -->

    <!-- Table -->
    <div class="mt-6 border border-gray-200 p-4 rounded-lg space-y-4">
      <th class="hidden sm:grid sm:grid-cols-5">
        <div class="sm:col-span-2 text-xs font-medium text-gray-500 uppercase">
          Item
        </div>
        <div class="text-left text-xs font-medium text-gray-500 uppercase">
          Qty
        </div>
        <div class="text-left text-xs font-medium text-gray-500 uppercase">
          Price per unit
        </div>
        <div class="text-right text-xs font-medium text-gray-500 uppercase">
          Amount
        </div>
      </th>

      <div
        class="hidden sm:block border-b border-gray-200 dark:border-gray-700"
      ></div>

      <div
        *ngFor="let item of invoice?.items"
        class="grid grid-cols-3 sm:grid-cols-5 gap-2"
      >
        <div class="col-span-full sm:col-span-2">
          <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">
            Item
          </h5>
          <p class="font-medium text-gray-800">{{ item.item }}</p>
        </div>
        <div>
          <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">
            Qty
          </h5>
          <p class="text-gray-800">{{ item.quantity }}</p>
        </div>
        <div>
          <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">
            Rate
          </h5>
          <p class="text-gray-800">{{ item.unitPrice | currency }}</p>
        </div>
        <div>
          <h5 class="sm:hidden text-xs font-medium text-gray-500 uppercase">
            Amount
          </h5>
          <p class="sm:text-right text-gray-800">{{ item.amount | currency }}</p>
        </div>
      </div>

      <div class="sm:hidden border-b border-gray-200"></div>
    </div>
    <!-- End Table -->

    <!-- Flex -->
    <div class="mt-8 flex sm:justify-end">
      <div class="w-full max-w-2xl sm:text-right space-y-2">
        <!-- Grid -->
        <div class="grid grid-cols-2 sm:grid-cols-1 gap-3 sm:gap-2">
          <dl class="grid sm:grid-cols-5 gap-x-3 text-sm">
            <dt class="col-span-3 text-gray-500">SubTotal:</dt>
            <dd class="col-span-2 font-medium text-gray-800">
              {{ invoice.subTotal | currency }}
            </dd>
          </dl>

          <dl class="grid sm:grid-cols-5 gap-x-3 text-sm">
            <dt class="col-span-3 text-gray-500">Tax:</dt>
            <dd class="col-span-2 font-medium text-gray-800">
              {{ invoice.taxRate ? invoice.taxRate : 0 | currency}}
            </dd>
          </dl>

          <dl class="grid sm:grid-cols-5 gap-x-3 text-sm">
            <dt class="col-span-3 text-gray-500">Discounts:</dt>
            <dd class="col-span-2 font-medium text-gray-800">
              {{ invoice.discountRate ? invoice.discountRate : 0 | currency}}
            </dd>
          </dl>

          <dl class="grid sm:grid-cols-5 gap-x-3 text-sm">
            <dt class="col-span-3 text-gray-500">Fees:</dt>
            <dd class="col-span-2 font-medium text-gray-800">
              {{ invoice.fees ? invoice.fees : 0 | currency}}
            </dd>
          </dl>

          <dl class="grid sm:grid-cols-5 gap-x-3 text-sm">
            <dt class="col-span-3 text-gray-500">TOTAL:</dt>
            <dd class="col-span-2 font-medium text-gray-800">
              {{ invoice.total | currency}}
            </dd>
          </dl>
        </div>
        <!-- End Grid -->
      </div>
    </div>
    <!-- End Flex -->
   </div>

    <footer>
      <h2 class="text-gray-500">Terms and Conditions</h2>
      <p class="text-gray-600">1. Goods once sold are not returnable</p>
    </footer>
  </div>
  <!-- End Invoice -->
</div>
